body {
  background-color: bisque;
}
#container {
  display: flex;
  flex-direction: column;
}
.main {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
#button {
  background-color: rgba(95, 158, 160, 0.829);
  color: antiquewhite;
  border: none;
  border-radius: 5px;
  width: 5%;
  align-self: center;
  height: 25px;
  min-width: 65px;
}
#button:hover {
  color: aliceblue;
  width: 6%;
  background-color: hsl(182, 25%, 50%);
  min-width: 65px;
}
#button:active {
  width: 7%;
  background-color: rgb(59, 191, 196);
}
#top {
  align-self: center;
  justify-self: center;
  margin-top: 130px;
}
h2 {
  text-align: center;
}
#explanation {
  font-size: 20px;
  text-align: center;
}
.red {
  color: red;
}
input {
  border: 1px solid rgb(128, 128, 128, 0.7);
  border-radius: 5px;
  width: 170px;
  height: 30px;
  font-size: 20px;
  align-self: center;
  text-align: center;
}
#resultDisplay {
  justify-self: center;
  align-self: center;
  width: 30%;
  min-width: 380px;
  margin: 5px auto;
}
:placeholder-shown {
  text-align: center;
}
#result {
  text-align: start;
}
#remaining {
  text-align: center;
}
